.header {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: 4rem;
    align-items: center;
    margin-top: 4rem;
    &__logo {
        padding-left: 5rem;
    }
    &__links {
        display: flex;
        justify-content: space-between;
        // backdrop-filter: contrast(30%);
        backdrop-filter: blur(50px);
        width: 60%;
        & span {
            font-weight: bold;
            padding-right: 0.8rem;
        }
    }
    &__link {
        color: fff;
        padding: 40px 16px 40px 16px;
        margin: 0 1rem 0 1rem;
        text-decoration: none;
        text-transform: uppercase;
        @include navText;
        &:hover {
            border-bottom: 3px solid #fff;
            padding-bottom: 37px;
        }
    }
}